# Web Framework and ASGI server
fastapi>=0.115.8
uvicorn>=0.34.0

# Database
sqlalchemy[asyncio]>=2.0.38
asyncpg>=0.29.0

# Data Validation
pydantic>=2.10.6
pydantic-settings>=2.1.0

# Authentication and Security
python-jose>=3.3.0
passlib[bcrypt]>=1.7.4
bcrypt==4.0.1
python-multipart>=0.0.20

# Caching
fastapi-cache2[redis]>=0.2.2
redis<5.0.0

# OpenTelemetry
opentelemetry-api>=1.21.0
opentelemetry-sdk>=1.21.0
opentelemetry-instrumentation-fastapi>=0.42b0
opentelemetry-instrumentation-sqlalchemy>=0.42b0
opentelemetry-instrumentation-redis>=0.42b0
opentelemetry-exporter-otlp>=1.21.0
